<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Invoices</ion-title>
    <ng-template #loadingSpinner>
      <ion-spinner slot="end" color="light"></ion-spinner>
    </ng-template>
  </ion-toolbar>
</ion-header>
<ion-content padding>

  <ng-container *ngIf="invoices$ | async as invoices; else loadingSpinner">
    <ion-list>
      <ion-item *ngIf="invoices.length < 1">
        <ion-label text-center>
          There's no invoices yet. Add one!
        </ion-label>
      </ion-item>
      <ion-item-sliding *ngFor="let invoice of invoices">
        <ion-item
          [routerLink]="['/invoices/editor/', invoice.id]"
          detail>
          <ion-label text-wrap>
            <p>
              <ion-text color="primary">Id:</ion-text>&nbsp;{{ invoice.id }}
            </p>
            <p>
              <ion-text color="primary">Customer:</ion-text>&nbsp;{{ invoice.customer.name }}
            </p>
            <p>
              <ion-text color="primary">Discount:</ion-text>&nbsp;{{ invoice.discount }}&nbsp;%
            </p>
            <p>
              <ion-text color="primary">Total:</ion-text>&nbsp;<strong>{{ invoice.total | currency: 'USD': true: '4.2-2' }}</strong>
            </p>
          </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger">
            <ion-icon name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ng-container>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button
        routerLink="/invoices/editor"
        color="primary">
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="cart"></ion-icon>
      </ion-fab-button>
      <ion-fab-button routerLink="/customers/editor">
        <ion-icon name="contact"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
