<ion-content padding>
  <h1 text-center>Login</h1>
  <form
    [formGroup]="loginForm"
    novalidate>
    <ion-list>
      <ion-item ingValidationUiAdapter>
        <ion-label position="stacked">Email</ion-label>
        <ion-input
          formControlName="email"
          type="email"
          inputmode="email"
          placeholder="example@org.com">
        </ion-input>
      </ion-item>
      <validation-error
        [control]="loginForm.get('email')"
        category="email">
      </validation-error>

      <ion-item ingValidationUiAdapter>
        <ion-label position="stacked">Password</ion-label>
        <ion-input
          formControlName="password"
          placeholder="••••••••"
          type="password"
          inputmode="password">
        </ion-input>
      </ion-item>
      <validation-error
        [control]="loginForm.get('password')"
        category="password">
      </validation-error>

    </ion-list>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar padding-horizontal>
    <ion-button
      (click)="handleSubmit()"
      expand="block"
      margin-bottom>
      Login
    </ion-button>

    <ion-button
      type="button"
      expand="block"
      fill="outline"
      routerLink="/auth/register">
      Register
    </ion-button>
  </ion-toolbar>
</ion-footer>
