<ion-content padding>
  <h1 text-center>Register</h1>
  <form
    [formGroup]="registerForm"
    novalidate>
    <ion-list>
      <ion-item ingValidationUiAdapter>
        <ion-label position="stacked">Name</ion-label>
        <ion-input
          formControlName="name"
          placeholder="John Doe"
          type="text">
        </ion-input>
      </ion-item>
      <validation-error
        [control]="registerForm.get('name')"
        category="text">
      </validation-error>

      <ion-item ingValidationUiAdapter>
        <ion-label position="stacked">Email</ion-label>
        <ion-input
          formControlName="email"
          type="email"
          inputmode="email"
          placeholder="example@org.com">
        </ion-input>
      </ion-item>
      <validation-error
        [control]="registerForm.get('email')"
        category="email">
      </validation-error>

      <ion-item ingValidationUiAdapter>
        <ion-label position="stacked">Password</ion-label>
        <ion-input
          formControlName="password"
          type="password"
          inputmode="password"
          placeholder="••••••••">
        </ion-input>
      </ion-item>
      <validation-error
        [control]="registerForm.get('password')"
        category="password">
      </validation-error>

      <ion-item ingValidationUiAdapter>
        <ion-label position="stacked">Date of birth</ion-label>
        <ion-datetime
          [max]="minAllowedDate | date: 'yyyy-MM-dd'"
          [placeholder]="minAllowedDate | date: 'MMMM d, yyyy'"
          displayFormat="MMMM D, YYYY"
          pickerFormat="MMMM D YYYY"
          formControlName="dob">
        </ion-datetime>
      </ion-item>
      <validation-error
        [control]="registerForm.get('dob')"
        category="dob">
      </validation-error>

    </ion-list>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button
      (click)="handleSubmit()"
      expand="block"
      margin-bottom>
      Register
    </ion-button>

    <ion-button
      type="button"
      expand="block"
      fill="outline"
      routerLink="/auth/login">
      Login
    </ion-button>
  </ion-toolbar>
</ion-footer>
