<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/customers/list"></ion-back-button>
    </ion-buttons>
    <ion-title>Customers editor</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form
    [formGroup]="customerForm"
    novalidate>

    <ion-list>
      <ion-item ingValidationUiAdapter>
        <ion-label position="stacked">Name</ion-label>
        <ion-input
          formControlName="name"
          type="text"
          inputMode="text"
          placholder="">
        </ion-input>
      </ion-item>
      <validation-error
        [control]="customerForm.get('name')"
        category="text">
      </validation-error>

      <ion-item ingValidationUiAdapter>
        <ion-label position="stacked">Phone</ion-label>
        <ion-input
          formControlName="phone"
          type="text"
          inputMode="text"
          placholder="">
        </ion-input>
      </ion-item>
      <validation-error
        [control]="customerForm.get('phone')"
        category="text">
      </validation-error>

      <ion-item ingValidationUiAdapter>
        <ion-label position="stacked">Address</ion-label>
        <ion-input
          formControlName="address"
          type="text"
          inputMode="text"
          placholder="">
        </ion-input>
      </ion-item>
      <validation-error
        [control]="customerForm.get('address')"
        category="text">
      </validation-error>
    </ion-list>

  </form>
</ion-content>
<ion-footer>
  <ion-toolbar padding-horizontal>
    <ion-button
      (click)="isEdit ? update() : save()"
      [disabled]="loading$ | async"
      expand="block">
      <ion-spinner
        *ngIf="loading$ | async"
        name="lines-small"
        color="light">
      </ion-spinner>&nbsp;
      Save
    </ion-button>
  </ion-toolbar>
</ion-footer>
