<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/invoices"></ion-back-button>
    </ion-buttons>
    <ion-title>Invoice editor</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form
    [formGroup]="invoiceFormGroup"
    novalidate>

    <ion-list>
      <ion-list-header>
        <ion-label>
          Common
        </ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Customer</ion-label>
        <ng-container
          *ngIf="customers$ | async as customers; else customersLoading">
          <ion-select
            formControlName="customerId"
            placeholder="Select customer">
            <ion-select-option
              *ngFor="let customer of customers$ | async"
              [value]="customer.id">
              {{ customer.name }}
            </ion-select-option>
          </ion-select>
        </ng-container>

        <ng-template #customersLoading>
          <ion-spinner></ion-spinner>
        </ng-template>
      </ion-item>

      <ion-item>
        <ion-label>Discount (%)</ion-label>
        <ion-input
          formControlName="discount"
          inputmode="number"
          type="number"
          text-right>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Total</ion-label>
        <ion-input
          formControlName="total"
          type="number"
          readonly="true"
          text-right>
        </ion-input>
      </ion-item>

    </ion-list>

    <ion-list>
      <ion-list-header>
        <ion-label>
          Products
        </ion-label>
        <ion-button
          (click)="pickProduct()"
          size="small"
          shape="round">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-list-header>

      <ion-item-sliding *ngFor="let itemGroup of invoiceItemsGroup.controls; let itemIndex = index">
        <ion-item [formGroup]="itemGroup">
          <ion-label>{{ itemGroup.get('product').value.name }}</ion-label>
          <ion-input
            formControlName="quantity"
            type="number"
            inputmode="number">
          </ion-input>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger">
            <ion-icon name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

  </form>
</ion-content>
<ion-footer>
  <ion-toolbar padding-horizontal>
    <ion-button
      (click)="save()"
      [disabled]="isEdit || (loading$ | async)"
      expand="block">
      <ion-spinner
        *ngIf="loading$ | async"
        name="lines-small"
        color="light">
      </ion-spinner>&nbsp;
      <span *ngIf="isEdit; else defaultSubmitBtnLabel">Auto updates enabled</span>
      <ng-template #defaultSubmitBtnLabel>Save</ng-template>
    </ion-button>
  </ion-toolbar>
</ion-footer>
