.item-customer-removable {

}

.item-customer-removed {
  animation-name: shrink;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
  animation-delay: 200ms;
  animation-timing-function: ease-out;

  .item {
    transform: translate3d(-100%, 0, 0) !important;
  }

  ion-item-option {
    width: 100%;
  }
}

@keyframes shrink {
  from {
    height: 100%;
  }

  to {
    height: 0;
  }
}
