<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Customers</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/customers/editor">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list *ngIf="customers$ | async as customers">
    <ion-item-sliding
      *ngFor="let customer of customers"
      class="item-customer-removable"
      [class.item-customer-removed]="(customerRemove$ | async) === customer.id">
      <ion-item
        [routerLink]="['/customers/editor', customer.id]"
        detail>
        <ion-label text-wrap>
          <ion-text color="primary">{{ customer.name }}</ion-text>&nbsp;
          <ion-text><i>{{ customer.address }}</i></ion-text>&nbsp;
          <ion-text>({{ customer.phone }})</ion-text>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option
          (click)="removeCustomer(customer.id)"
          color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
