<ion-label
  *ngFor="let message of stateMessages$ | async"
  class="message-item"
  lines="none">
  <ion-icon name="close" color="danger" slot="start"></ion-icon>
  <ion-text color="danger" text-wrap>
    {{ message }}
  </ion-text>
</ion-label>
